@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.main{
  background-color: white;
  padding: 16px;
}
.notfs{
  display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width:800px){
  body{
    background: #F9FAFD;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .main{
    width: 730px;
    border-radius: 15px;
    padding:30px;
    margin-top:63px;
    margin-bottom:89px;
  }
}